@page "/"
@inherits ProductsBase

@if(Products == null && ErrorMessage == null)
{
    <DisplaySpinner/>

}
else if(ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else
{    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.1131159446513!2d105.80084021038999!3d21.02815948771922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab424a50fff9%3A0xbe3a7f3670c0a45f!2zVHLGsOG7nW5nIMSQ4bqhaSBI4buNYyBHaWFvIFRow7RuZyBW4bqtbiBU4bqjaQ!5e0!3m2!1svi!2s!4v1712591248478!5m2!1svi!2s" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    var productCount = Products.Count();
    

    @if (productCount > 0)
    {
        @foreach(var prodGroup in GetGroupedProductsByCategory())
        {
            <h4>@GetCategoryName(prodGroup)</h4>
                    
            <div class = "row mt-3">
                <DisplayProducts Products = "@prodGroup.Take(4)"></DisplayProducts>
            </div>
            <hr class="mb-3"/>
        }

    }

}